<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="cache-control" content="no-cache, no-store">
  <meta charset="UTF-8">
  <title><% if @name %><%= @vhname %><% end %></title>
</head>
<body>
  <h1>Welcome to <% if @vhname %><%= @vhname %><% end %>!</h1>
</body>
</html>
